certifi==2025.10.5
geopandas==1.1.1
iniconfig==2.3.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
Pygments==2.19.2
pyogrio==0.11.1
PyPDF2==3.0.1
pyproj==3.7.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
shapely==2.1.2
six==1.17.0
tzdata==2025.2
